
server:
  port: 8083
  
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ratingmicroservice
    username: root
    password: Acchu@2000
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:  
        dialect: org.hibernate.dialect.MySQL8Dialect


  application:
    name: RATING-SERVICE

  config:
    import: optional:configserver:http://localhost:8085

  
  
  